<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>redirecting…</title>
  <script>
    window.location.href = '<%= url %>';
  </script>
</head>
<body>
  please wait…
</body>
</html>